.footer-contatti {
   position: relative;
    bottom: -1rem;
    text-align: center;

      .fa-brands:before{
        padding: 20px 20px;
      }
      a{
        padding: 0 20px;
        color: white;
        
      }
      a:hover{
        color: rgb(138, 138, 138);
    }
    }
