header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white;
  border-bottom: solid 2px #3d3d3d;
  background-color: #181818;
}

.il-mio-nome {
  align-items: center;
  display: flex;
  margin-left: 5em;
}
.il-mio-nome .btn-alessandro-cucchi {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 165px;
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
}
.il-mio-nome .btn-alessandro-cucchi .nome {
  font-size: 18px;
}
.il-mio-nome .btn-alessandro-cucchi .cognome {
  font-size: 16px;
}

.btn-alessandro-cucchi:hover {
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.233);
}

.nav-btns {
  align-items: center;
  display: flex;
  margin-right: 12em;
}
.nav-btns .nav-btn-progetti,
.nav-btns .nav-btn-chi-sono,
.nav-btns .nav-btn-contattami {
  margin: auto 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  height: 30px;
  border-radius: 15px;
  width: 100px;
  margin: 8px;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
.nav-btns .nav-btn-progetti:hover,
.nav-btns .nav-btn-chi-sono:hover {
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.233);
}
.nav-btns .nav-btn-contattami {
  border: solid 1px none;
  background-color: white;
  color: black;
  height: 30px;
  border-radius: 15px;
  width: 100px;
}
.nav-btns .nav-btn-contattami:hover {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.footer-contatti {
  position: relative;
  bottom: -1rem;
  text-align: center;
}
.footer-contatti .fa-brands:before {
  padding: 20px 20px;
}
.footer-contatti a {
  padding: 0 20px;
  color: white;
}
.footer-contatti a:hover {
  color: rgb(138, 138, 138);
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 4rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn-burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn-burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: -20px;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  list-style-type: none;
  z-index: 1;
  overflow-x: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 110vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #282828;
  transform: translateY(-100%);
  list-style-type: none;
  padding: 0;
  color: rgb(80, 80, 80);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav-item {
  color: rgb(80, 80, 80);
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav-item.open {
  transform: translateX(0);
}
.nav .menu-nav-item.active > a {
  color: rgb(172, 172, 172);
}
.nav .menu-nav-link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: rgb(80, 80, 80);
}
.nav .menu-nav-link :visited {
  color: rgb(80, 80, 80);
}
.nav .menu-nav-link:hover {
  color: rgb(0, 0, 0);
}

.menu-nav-item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav-item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav-item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav-item:nth-child(4) {
  transition-delay: 0.55s;
}

.icona-icona {
  position: absolute;
  z-index: 0;
  left: 1rem;
  top: 0.5rem;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

body {
  font-family: sans-serif;
  background-color: #181818;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header2 {
  visibility: hidden;
}

.immagine-descrizione {
  display: flex;
  justify-content: space-around;
}
.immagine-descrizione .immagine-home img {
  display: flex;
  justify-content: space-around;
  margin-left: 50%;
  margin-top: 40%;
  height: 500px;
  box-shadow: 7px 7px 2px 2px rgb(36, 36, 36);
}
.immagine-descrizione .titolo1 {
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: -4px;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  font-style: normal;
}
.immagine-descrizione .titolo1 .titolo2 {
  font-weight: 400;
  font-size: 40px;
}
.immagine-descrizione .descrizione {
  color: rgb(255, 255, 255);
  width: 40em;
  margin-left: 10%;
  margin-top: 10em;
  margin-right: 2em;
  font-size: 15px;
}
.immagine-descrizione .descrizione .paragrafi {
  margin-bottom: 50px;
}
.immagine-descrizione .descrizione .paragrafi .paragrafo-1, .immagine-descrizione .descrizione .paragrafi .paragrafo-2 {
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  .header1 {
    visibility: hidden;
  }
  .header2 {
    visibility: visible;
  }
  .immagine-descrizione {
    margin-top: -50px;
  }
  .immagine-descrizione .descrizione {
    margin-left: 10%;
  }
  .immagine-descrizione .immagine-home img {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
  .immagine-descrizione .descrizione {
    margin-left: 10%;
    margin-top: 90px;
  }
  .immagine-descrizione .immagine-home img {
    display: none;
  }
}
.btn-contattami {
  background-color: white;
  border: none;
  height: 40px;
  font-weight: 700;
  border-radius: 20px;
  width: 130px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
}

.btn-contattami:hover {
  color: white;
  background-color: #181818;
  border: 2px solid white;
}

.sfondo-bianco {
  display: flex;
  width: 98%;
  height: 100%;
  background-color: white;
  margin-top: 50px;
  left: 1%;
  right: 1%;
  position: relative;
  border-radius: 30px;
  flex-direction: column;
}
.sfondo-bianco .home-progetto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
.sfondo-bianco .home-progetto .descrizione1, .sfondo-bianco .home-progetto .descrizione3,
.sfondo-bianco .home-progetto .descrizione2 {
  width: 350px;
  justify-content: space-around;
  margin-left: 2%;
}
.sfondo-bianco .home-progetto .descrizione1 .home-progetto-titolo, .sfondo-bianco .home-progetto .descrizione3 .home-progetto-titolo,
.sfondo-bianco .home-progetto .descrizione2 .home-progetto-titolo {
  font-size: 70px;
  margin-bottom: 10px;
  font-family: cardo;
  font-weight: 500;
}
.sfondo-bianco .home-progetto .descrizione1 .home-progetto1-sottotitolo, .sfondo-bianco .home-progetto .descrizione3 .home-progetto1-sottotitolo,
.sfondo-bianco .home-progetto .descrizione2 .home-progetto1-sottotitolo {
  color: #3d3d3d;
  font-size: 20px;
}
.sfondo-bianco .home-progetto .descrizione1 .tema, .sfondo-bianco .home-progetto .descrizione3 .tema,
.sfondo-bianco .home-progetto .descrizione2 .tema {
  font-weight: 550;
}
.sfondo-bianco .home-progetto .home-progetto-immagine1 {
  position: relative;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 5px solid rgb(17, 16, 16);
  border-radius: 20px;
  box-shadow: 3px 3px 9px 3px rgb(60, 68, 71);
  margin-top: 100px;
  justify-content: space-around;
}
.sfondo-bianco .home-progetto .home-progetto-immagine2 {
  position: relative;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 5px solid rgb(17, 16, 16);
  border-radius: 20px;
  box-shadow: 3px 3px 9px 3px rgb(60, 68, 71);
  margin-top: 100px;
  justify-content: space-around;
}
.sfondo-bianco .home-progetto .home-progetto-immagine3 {
  position: relative;
  height: 320px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 5px solid rgb(17, 16, 16);
  border-radius: 20px;
  box-shadow: 3px 3px 9px 3px rgb(60, 68, 71);
  margin-top: 100px;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .body {
    height: 260%;
  }
  .sfondo-bianco {
    height: 100%;
  }
  .sfondo-bianco .home-progetto {
    display: block;
  }
  .sfondo-bianco .home-progetto .home-progetto-immagine1,
  .sfondo-bianco .home-progetto .home-progetto-immagine2 {
    margin: 30px 0px;
    height: 250px;
    left: 13px;
    right: 13px;
  }
  .sfondo-bianco .home-progetto .home-progetto-immagine3 {
    margin: 30px 0px;
    height: 200px;
    left: 13px;
    right: 13px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
  .body {
    height: 260%;
  }
  .sfondo-bianco {
    height: 120%;
  }
  .sfondo-bianco .home-progetto {
    display: block;
  }
  .sfondo-bianco .home-progetto .home-progetto-immagine1,
  .sfondo-bianco .home-progetto .home-progetto-immagine2 {
    margin: 30px 0px;
    height: 400px;
    left: 13px;
    right: 13px;
  }
  .sfondo-bianco .home-progetto .home-progetto-immagine3 {
    margin: 30px 0px;
    height: 360px;
    left: 13px;
    right: 13px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1000px) {
  .sfondo-bianco .home-progetto .home-progetto-immagine1 {
    height: 300px;
  }
  .sfondo-bianco .home-progetto .home-progetto-immagine2 {
    height: 350px;
  }
  .sfondo-bianco .home-progetto .home-progetto-immagine3 {
    height: 250px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1170px) {
  .immagine-descrizione .immagine-home img {
    margin-left: 20%;
  }
}/*# sourceMappingURL=main.css.map */